@use 'styles/mixins' as m;

.headerWrap {
  width: 370px;
  height: 40px;
  padding: 20px;
  @include m.flexbox(between);
  border-radius: 0 0 10px 10px;
  background-color: #001529d6;
  backdrop-filter: blur(3px);

  .linkWrap {
    width: 130px;
    @include m.flexbox(between);
    a {
      font-size: 13px;
      color: var(--color-gray-c);
    }
    .linkIcon {
      color: var(--color-orange);
      margin-left: 5px;
    }
  }

  .userWrap {
    width: 200px;
    height: 100%;
    @include m.flexbox(between);

    p {
      max-width: 120px;
      height: 25px;
      color: var(--color-gray-c);
      font-size: 13px;
      line-height: 25px;
      display: flex;
      justify-content: right;

      .sp_2 {
        color: var(--color-gray-a);
        font-size: 10px;
        margin-left: 5px;
      }
    }

    .logoutBtn {
      width: 22px;
      height: 22px;
      border-radius: var(--border-radius-3);
      background-color: var(--color-blue-396f);
    }

    .logoutImg {
      margin: auto;
      @include m.imageBackground(0.8rem, 0.8rem);
      background-image: url('../../../public/svgs/logOutIcon.svg');
    }
  }
}
