@use 'styles/mixins' as m;

.wrap {
  .topBox {
    @include m.flexbox(between);
    margin-bottom: 40px;
    .searchBox {
      width: 520px;
      @include m.flexbox(between);
    }
  }

  .loadBtnWrap {
    padding: 200px;
    @include m.flexbox();
  }

  .btnBox {
    width: 100%;
    // width: 150px;
    margin: 40px 0;
    @include m.flexbox();

    // display: flex;
    // justify-content: space-between;
  }
}
