@use 'styles/mixins' as m;

.wrap {
  .formWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
  }
  .infoCardWrap {
    width: 100%;
    @include m.flexbox();
  }
  .infoWrap {
    @include m.flexboxColumn();
  }
}
