.wrap {
  .formWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
  }
  .infoCardWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .infoWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
