@use 'styles/mixins' as m;

.logoWrap {
  padding: 10px;
  height: 80px;
  color: var(--color-gray-c);

  .logoFlex {
    padding: 10px;
    background-color: var(--color-point-blue-2);
    border-radius: var(--border-radius-7);

    .logoTitle {
      font-size: 15px;
    }
  }
}
