@use 'styles/mixins' as m;

.headerWrap {
  position: relative;

  .headerBox {
    position: fixed;
    right: 10px;
    z-index: 10;
  }

  .logoWrap {
    width: 200px;
    font-size: 20px;
    @include m.flexbox();
    font-weight: 700;
    color: var(--color-blue-2140);
    position: absolute;
    left: 0;
  }
}
.contentsWrap {
  padding: 24px;
  min-width: 700px;
  min-height: 360px;
}