@import 'variable';
@import 'base.module';

.gray {
  color: var(--color-gray-4);
}

.red {
  color: var(--color-red);
}

.orange {
  color: var(--color-orange);
}

.grayBg {
  color: var(--color-bg);
}

.deepBlue {
  color: var(--color-blue-1529);
}
