@use 'styles/mixins' as m;
@import 'variable';
@import 'base.module';

.gray {
  color: var(--color-gray-4);
}

.red {
  color: var(--color-red);
}

.orange {
  color: var(--color-orange);
}

.bg_gray {
  background-color: var(--color-bg);
}

.bg_deepBlue {
  background-color: var(--color-blue-1529);
}

.bg_orange {
  background-color: var(--color-orange);
}

.title_a {
  text-align: center;
  font-size: 20px;
  margin: 20px;
  color: var(--color-gray-4);
}

.border_g {
  border: 1px solid var(--color-gray-d);
}

.border_r {
  border: 1px solid var(--color-red);
}

.back_shadow {
  box-shadow: 0 4px 8px rgba(85, 85, 85, 0.1);
}

.button_box {
  width: 180px;
  margin: 15px auto;
  @include m.flexbox(between);
}

.min_wrap_w_size {
  min-width: 900px;
}

.dateSearchWrap {
  padding: 7px;
  margin-bottom: 20px;
  border-radius: var(--border-radius-5);
  @include m.flexbox(between);
}

.contentCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-6);
  background: #fff;
}