:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-1: #111111;
  --color-gray-2: #232323;
  --color-gray-3: #333333;
  --color-gray-4: #4c4c4c;
  --color-gray-6: #666666;
  --color-gray-7: #767676;
  --color-gray-8: #8c8c8c;
  --color-gray-9: #999999;
  --color-gray-a: #aaaaaa;
  --color-gray-c: #cccccc;
  --color-gray-d: #dddddd;
  --color-gray-e: #eeeeee;
  --color-gray-f: #f6f6f6;

  --color-bg: #f6f6f6;

  --color-red: #E11D1D;
  --color-orange: #FF7A00;
  --color-blue-1529: #001529;
}
