@use 'styles/mixins' as m;

.wrap {
  max-width: 1400px;
  width: 100%;
  padding: 40px;
  margin: 20px auto 0;
  border-radius: var(--border-radius-7);
  background-color: var(--color-white);

  .topBox {
    width: 100%;
    @include m.flexbox(between);
    margin-bottom: 40px;
    .searchBox {
      width: 520px;
      @include m.flexbox(between);
    }
  }
}
