@use 'styles/mixins' as m;

.wrap {
  margin: auto;
  @include m.flexboxColumn(center, center);
  gap: 50px;

  .bottonWrap {
    @include m.flexboxWrap(center, _, 20px);
    // @include m.flexboxColumn();

    h2 {
      font-size: 16px;
      font-weight: 500;
      color: var(--color-gray-4);
    }
  }
}
