@use 'styles/mixins' as m;

$width: 100%;
$border-radius: 0.6rem;

.wrap {
  width: $width;
  @include m.flexboxColumn();

  .testInfoTitle {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .testInfo {
    width: $width;
    max-width: 800px;
    border-radius: $border-radius;
    margin: auto;
    margin-bottom: 20px;
    @include m.flexbox(between);

    .inputWarp {
      width: $width;
    }

    .titleWarp {
      width: $width;
      @include m.flexbox(between);
      p {
        @include m.flexbox(center);
        font-size: 15px;
        margin: 0 15px;
      }
    }
    .contentsWarp {
      margin-top: 10px;
    }
  }

  .btnBox {
    margin: auto;
    @include m.flexbox(between);
  }

  .TestContents {
    width: $width;
    height: 65vh;
    overflow-y: auto;
    margin-bottom: 20px;
    border-radius: $border-radius;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.105);
    background-color: var(--color-bg);
  }
}
