@use 'styles/mixins' as m;

  .contents {
    width: 100%;
    @include m.flexbox();

    .countCardsWrap {
      max-width: 350px;
      margin-right: 20px;
      @include m.flexboxWrap();
    }
  }
