@use 'styles/mixins' as m;

.wrap {
  width: 100%;
  @include m.flexboxColumn();

  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .steps {
    width: 100%;
    max-width: 750px;
    margin-bottom: 25px;
    font-size: 12px;
  }
}
