@use 'styles/mixins' as m;

.wrap {
  width: 100%;
  padding: 40px;
  margin: 20px auto 0;
  border-radius: var(--border-radius-7);
  background-color: var(--color-white);
  @include m.flexboxColumn();

  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .steps {
    width: 100%;
    max-width: 750px;
    margin-bottom: 25px;
    font-size: 12px;
  }
}
