@use 'styles/mixins' as m;

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;

  .imageWrap {
    width: 100%;
    margin-top: 15px;
    @include m.flexboxColumn(between);

    .imageFileName{
      width: 100%;
      margin-top: 10px;
    }
  }
}
