@use 'styles/mixins' as m;

.wrap {
  .topBox {
    @include m.flexbox(between);
    margin-bottom: 20px;
    .searchBox {
      width: 520px;
      @include m.flexbox(between);
    }
  }

  .btnWarp {
    width: 100px;
    @include m.flexbox(between);

    button {
      width: 45px;
      height: 25px;
      @include m.flexbox();
    }
  }
  .loadBtnWrap {
    padding: 200px;
    @include m.flexbox();
  }
}
